@model Gcdbs.Models.Montadora

@{
    ViewData["Title"] = "Detalhes do Montadora";
}

<h2>Detalhes</h2>

<div>
    <h4>Montadora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMontadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMontadora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMontadora">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
